In [2]:
# Importing necessary libaries

import numpy as np
import pandas as pd

In [3]:
# Importing the dataset

Crop_Yield = pd.read_csv("C:/Users/USER/Desktop/TechCrush/yield_df.csv")

## DATA CLEANNG AND MANIPULATION

In [4]:
# Display the first five rows of the Dataset

Crop_Yield.head()

,Unnamed: 0,Area,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp
0,0,Albania,Maize,1990,36613,1485.0,121.0,16.37
1,1,Albania,Potatoes,1990,66667,1485.0,121.0,16.37
2,2,Albania,"Rice, paddy",1990,23333,1485.0,121.0,16.37
3,3,Albania,Sorghum,1990,12500,1485.0,121.0,16.37
4,4,Albania,Soybeans,1990,7000,1485.0,121.0,16.37

In [5]:
# Display summary information about the Yield_df DataFrame

Crop_Yield.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28242 entries, 0 to 28241
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     28242 non-null  int64
 1   Area                           28242 non-null  object
 2   Item                           28242 non-null  object
 3   Year                           28242 non-null  int64
 4   hg/ha_yield                    28242 non-null  int64
 5   average_rain_fall_mm_per_year  28242 non-null  float64
 6   pesticides_tonnes              28242 non-null  float64
 7   avg_temp                       28242 non-null  float64
dtypes: float64(3), int64(3), object(2)
memory usage: 1.7+ MB

In [6]:
# Drop the 'Unnamed' column since it is a duplicate of the index

Crop_Yield.drop(columns=["Unnamed: 0"], inplace=True)